{% extends "layout.html" %}

{% block title %}Choose a new password{% endblock %}

{% block content %}
<h1>Choose a new password</h1>

<form action="/passwords/{{ token }}" method="post">
{% if !errors.is_empty() %}
  <ul class="errors">
    {% for error in errors %}<li>{{ error.full_message() }}</li>{% endfor %}
  </ul>
{% endif %}
  <label>New password (8 characters or more) <input type="password" name="password" required minlength="8" autofocus autocomplete="new-password"></label>
  <label>Confirm new password <input type="password" name="password_confirmation" required minlength="8" autocomplete="new-password"></label>
  <button type="submit">Save password</button>
</form>
{% endblock %}
